



{% extends 'base.html' %}

{% block title %}login.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static 'css/forms.css' %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">

				<div id="loginbox" style="margin-top:50px;">

				<div class="panel panel-info" >
						<div class="panel-heading">
							<div class="panel-title" style="text-align:center">ONTIC HIS Smart Support Service</div>
							<!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>-->
						</div>

						<div style="padding-top:30px" class="panel-body" >



							<h3 style = "text-align:center;"> Your password has changed </h3>
							<form id="loginform" class="form-horizontal" role="form" action = "." method="post">

								{% csrf_token %}
								{% if form.errors %}
								<div  id="login-alert" class="alert alert-danger col-sm-12">Wrong!! Please correct the error(s) below</div>
								{% endif %}

									{% load widget_tweaks %}
									<div style="margin-top:10px" class="form-group">
											<!--로그인-->
										<div class="col-sm-12 controls" style = "text-align:center;">
											<a href="{% url 'matchings:match_disease' %}">Home</a>
											<input type="hidden" name="next" value="{{ next }}" />
										</div>
										</div>









 									<br>

									<div class="form-group">
										<div class="col-md-12 control">
											<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%; text-align:center" >
												주소 서울시 금천구 디지털로길 갑을그레이트밸리 B동 1001호 (주)중외정보기술<br>
												Tel. 02-801-1000 Fax. 02-801-1099<br>
												COPYRIGHT 중외정보기술 ALL RIGHTS RESERVED
											<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">

											</a>
											</div>
										</div>
									</div>
								</form>



							</div>
						</div>
			</div>

		<div class="col-sm-3" ></div>
  		</div>




         </div>
    </div>
{% endblock %}


