



<!------------>



{% extends 'base.html' %}


{% block title %}password_change_formw.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static 'css/forms.css' %}{% endblock %}

{% block content %}

<script>
	$(function(){
		var chechkpw1 = 0;
		var chechkpw2 = 0;

		$("#newpw1").keyup(function(){

			$("#newpw2").val("");
			$("#passwordCheckView").html("");
			if($(this).val().length < 8){
				$("#passwordValidationkView").html("비밀번호는 8글자 이상이어야 합니다");
				checkpw1 = 1;
			}else if($.isNumeric($(this).val())){
				$("#passwordValidationkView").html("비밀번호는 숫자와 영어를 혼합해서 만들어주세요");
				$("#newpw1").focus();
				checkpw1 = 3;
			}else{
				$("#passwordValidationkView").html("");
				checkpw1 = 0;
			}
		});

		$("#newpw2").keyup(function(){
			if($("#newpw1").val()!= $("#newpw2").val()){
				$("#passwordCheckView").html("password가 일치하지 않습니다!");
				checkpw2= 2;
				return;
			}else{
				$("#passwordCheckView").html("password 일치");
				checkpw2= 0;

			}

		});

		$("#changePwBtn").click(function(){
			if (checkpw1 == 0 && checkpw2 == 0){
				$("#changePwForm").submit();
			}else{
				if(checkpw2 == 2){
					alert("변경할 비밀번호가 서로 일치하지 않습니다");
					return;
				}
				else if(checkpw1 == 1){
					alert("비밀번호는 8글자 이상이여야 합니다");
					return;

				}else if(checkpw1 == 3){
					alert("비밀버호는 숫자와 영어를 혼합해서 만들어주세요");
					return;

				}
				return;
			}
		});


	});

</script>

	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">

				<div id="loginbox" style="margin-top:50px;">

				<div class="panel panel-info" >
						<div class="panel-heading">
							<div class="panel-title" style="text-align:center">ONTIC HIS Smart Support Service</div>
							<!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>-->
						</div>

						<div style="padding-top:30px" class="panel-body" >


										<p>Please enter your old password, and then enter your new password twice.</p>



							<form id="changePwForm" class="form-horizontal" role="form" action = "." method="post">


								{% csrf_token %}
								{% if form.errors %}
								<div  id="login-alert" class="alert alert-danger col-sm-12">이전 비밀번호를 잘못 입력하셨습니다</div>
								{% endif %}

								<div style = "align:center;">
									{% load widget_tweaks %}
									<div style="align:center;margin-bottom: 25px" class="input-group">
											<span class="input-group-addon">기존 패스워드</span>
											<!--{{ form.old_password|add_class:"form-control input-lg"  }}-->
											<input type="password" id = "oldpw" name="old_password" autofocus="" class="form-control input-lg" required="" id="id_old_password">


										</div>

									<div style="margin-bottom: 25px" class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
											{% load widget_tweaks %}

											<!--{{ form.new_password1|add_class:"form-control input-lg" }}-->
										<input type="password" id = "newpw1" name="new_password1" class="form-control input-lg" required="" id="id_new_password1">
									</div>
									<span id = "passwordValidationkView"></span>
									<div style="margin-bottom: 25px" class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
											{% load widget_tweaks %}
											<!--{{ form.new_password2|add_class:"form-control input-lg" }}-->
										<input type="password" id = "newpw2" name="new_password2" class="form-control input-lg" required="" id="id_new_password2">

									</div>
									<span id = "passwordCheckView"></span>
									<div style = "align:center;">
                                            <input type = "button" id="changePwBtn" style = "float:right;margin-bottom:30px;" class="btn btn-success btn-lg" value = "Change Password">

											<input type="hidden" name="next" value="{{ next }}" />
									</div>

								</div>






 									<br>

									<div class="form-group">
										<div class="col-md-12 control">
											<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%; text-align:center" >
												주소 서울시 금천구 디지털로길 갑을그레이트밸리 B동 1001호 (주)중외정보기술<br>
												Tel. 02-801-1000 Fax. 02-801-1099<br>
												COPYRIGHT 중외정보기술 ALL RIGHTS RESERVED
											<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">

											</a>
											</div>
										</div>
									</div>
								</form>



							</div>
						</div>
			</div>

		<div class="col-sm-3" ></div>
  		</div>




         </div>
    </div>
{% endblock %}
