

<style>
#resultTable {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

<!--#resultTable tr:nth-child(even){background-color: #f2f2f2}-->
</style>



<script>
function showPrescription(element,disease){

	var dis = disease.toString();
	var pcode_list = dis.split(",");
	<!--alert(pcode_list[4]);-->
	var prescriptionView = document.getElementById("prescriptionView");

    var resultTable = document.getElementById("resultTable");
    var resultTableTr = resultTable.getElementsByTagName("tr");

    <!--for(var i = 0;i<resultTableTr.length;i++){-->
        <!--resultTableTr[i].style.backgroundColor = "white";-->
    <!--}-->
	<!--element.style.backgroundColor = "#abd9e9"-->


	<!--prescriptionView.innerHTML= "<tr><td>"+ pcode_list[4]+"</td><td>"+ pcode_list[14] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[5]+"</td><td>"+ pcode_list[15] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[6]+"</td><td>"+ pcode_list[16] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[7]+"</td><td>"+ pcode_list[17] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[8]+"</td><td>"+ pcode_list[18] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[9]+"</td><td>"+ pcode_list[19] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[10]+"</td><td>"+ pcode_list[20] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[11]+"</td><td>"+ pcode_list[21] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[12]+"</td><td>"+ pcode_list[22] +"</td></tr>";-->
}

$(function(){
	var tbl = $('#resultTable');
	$('#allselectBtn').click(function(){
		$(":checkbox", tbl).attr("checked", "checked");
	});

	$('#alldeselectBtn').click(function(){
		$(":checkbox", tbl).removeAttr("checked");
	});

	$('#saveBtn').click(function(){
		var html = ""
		for (var i = 1; i < $('#resultTable tr').length; i++) {

			var chk = $('#resultTable tr').eq(i).children().find('input[type="checkbox"]').is(':checked');
			if (chk == true) {
				var checked_discode = $('#resultTable tr').eq(i).children().eq(1).text();
				var checked_disname = $('#resultTable tr').eq(i).children().eq(2).text();

				<!--alert(checked_discode + " " + checked_disname);-->

				html += "<input type = 'hidden' name = 'checked_discode' class='cheked_discode' value='"+checked_discode +"'>"
				html += "<input type = 'hidden' name = 'checked_disname' class='checked_disname' value='"+checked_disname +"'>"

			}

		}

		var flag = $(':radio[name="flag_info"]:checked').val();
		html += "<input type='hidden' id = 'inputPreCode' name = 'inputPreCode' value='{{search_term}}'>"
		html += "<input type='hidden' id = 'inputPreCodeName' name = 'inputPreCodeName' value=''>"
		html += "<input type='hidden' id = 'flag' name = 'flag' value="+flag+">"

		$('#hiddenform').append(html);

		$('#hiddenform').submit();

	});
});

</script>

<div id = "afterResultView1" style = "">
	<button id = "allselectBtn">전체선택</button>
	<button id = "alldeselectBtn">전체해제</button>
</div>

<div style="overflow-x:auto;">
<table  id = "resultTable" style="width:100%">
	<thead>
	<tr>
		<th>사용</th>
		<th >Disease</th>
		<th >Disease name</th>
		<th >Proportion</th>
	</tr>
	</thead>

	<tbody>
		{% for disease in NX_disease_list %}
		<tr onclick = "">
			<td><input type="checkbox" id="checked" name = "_selected_"></td>
			<td id = "disease0" >{{ disease.0 }}</td>
			<td id = "disease1" >{{ disease.1 }}</td>
			<td id = "disease2" >{{ disease.2 }}</td>
		</tr>

	{% endfor %}
	</tbody>

</table>
</div>
<br>
<div id = "afterResultView2" style = "">
	<h6>Notice(상단 체크박스에서 여러 개 선택 시 동일하게 적용됩니다)</h6>

	<input type="radio" name="flag_info" value="option1" checked="checked">체크된 진단명만 진료화면에 노출함<br>
	<input type="radio" name="flag_info" value="option2">모든 진단명을 노출함(체크된 진단명은 리스트 최상단에 노출)
	<br><br>
	<button id = "reset" style = "float:left">Reset</button>


	<div id="hiddendiv">
		<form id = "hiddenform" action = "." method="post">
{% csrf_token %}
			<textarea style="width:100%" rows="3" cols="50" id="noticeArea" name = "noticeArea"></textarea><br>
			<input type = "button" style = "float:right" id="saveBtn"  value="Save">
		</form>

	</div>


</div>

<!--<div style = "width:50%;float:left" >-->
	<!--<table class="table table-striped scroll" id = "prescriptionResult" style="width:100%;">-->
		<!--<thead>-->
			<!--<tr class= "table-responsive-th">-->
			<!--<th >Prescription</th>-->
			<!--<th >Prescription Name</th>-->
		<!--</tr>-->
		<!--</thead>-->
		<!--<tbody id = "prescriptionView">-->


		<!--</tbody>-->
	<!--</table>-->
<!--</div>-->


</div>
