<!--{% load staticfiles %}-->
<!--{% block extrastyle %}{% static 'css/jw_front.css' %}{% endblock %}-->
{% block content %}
<!--
<style>
#resultTable {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

#resultTable tr{background-color: white}
</style>
-->
<style>
	.scrolltbody {
		display: block;
	}

	.scrolltbody tbody {
		display: block;
		height: 300px;
		overflow: auto;
	}

	.scrolltbody th:nth-of-type(1),
	.scrolltbody td:nth-of-type(1) {
		width: 80px;
		border-right: 1px solid #dadada;
	}

	.scrolltbody th:nth-of-type(2),
	.scrolltbody td:nth-of-type(2) {
		width: 100px;
		border-right: 1px solid #dadada;
	}

	.scrolltbody th:nth-of-type(3),
	.scrolltbody td:nth-of-type(3) {
		width: 80px;
		border-right: 1px solid #dadada;
	}

	.scrolltbody th:nth-of-type(4),
	.scrolltbody td:nth-of-type(4) {
		width: 150px;
		border-right: 1px solid #dadada;
	}

	.scrolltbody th:last-child {
		width: 460px;
	}

	.scrolltbody td:last-child {
		width: calc( 460px - 19px);
	}

	.scrolltbody td {
		padding: 0px 0px;
		height: 30px;
		text-align: center;
	}

	.scrolltbody th {
		text-align: center;
		padding-left: 0px !important;
		overflow-x: hidden;
	}
	/*-0-----------------------------*/

	.scrolltbody2 {
		display: block;
	}

	.scrolltbody2 tbody {
		display: block;
		height: 300px;
		overflow: auto;
	}

	.scrolltbody2 th:nth-of-type(1),
	.scrolltbody2 td:nth-of-type(1) {
		width: 50px;
		border-right: 1px solid #dadada;
	}

	.scrolltbody2 th:nth-of-type(2),
	.scrolltbody2 td:nth-of-type(2) {
		width: 100px;
		border-right: 1px solid #dadada;
	}

	.scrolltbody2 th:nth-of-type(3),
	.scrolltbody2 td:nth-of-type(3) {
		width: 300px;
		border-right: 1px solid #dadada;
	}

	.scrolltbody2 th:nth-of-type(4),
	.scrolltbody2 td:nth-of-type(4) {
		width: 80px;
		border-right: 1px solid #dadada;
	}


	.scrolltbody2 td:last-child {
		width: calc( 245px - 19px);
	}

	.scrolltbody2 td {
		padding: 0px 0px;
		height: 32px;
		text-align: center;
		overflow-x: hidden;
	}

	.scrolltbody2 th {
		text-align: center;
		padding-left: 0px !important;
		overflow-x: hidden;
	}

	.vType_line th {
		background-color: #fff;
		border-bottom: 1px solid #1291E7;
	}

	.vType_line {
		border-top: 2px solid #1291E7;
	}

	.btn_line_gray {
		width: 50px;
		height: 28px;
		margin: 2px;
		font-size: 12px;
	}

	.box_layer h1.tit_back {
		background-color: #1291E7;
	}
	.button_box{ width: 60px; height: 30px; background-color: #ECF4F6; border: 1px solid #1291E7; text-align: center;color:#1291E7;cursor: pointer}
	.tit_back >span { font-size: 14px; color: #D3FFFE; }
</style>

<script>
function showPrescription(element,disease){

	var dis = disease.toString();
	var pcode_list = dis.split(",");
	alert(pcode_list[4]);
	var prescriptionView = document.getElementById("prescriptionView");
	var resultTable = document.getElementById("resultTable");
	var resultTableTr = resultTable.getElementsByTagName("tr");

    <!--for(var i = 0;i<resultTableTr.length;i++){-->
        <!--resultTableTr[i].style.backgroundColor = "white";-->
    <!--}-->
	<!--element.style.backgroundColor = "#abd9e9"-->


	<!--prescriptionView.innerHTML= "<tr><td>"+ pcode_list[4]+"</td><td>"+ pcode_list[14] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[5]+"</td><td>"+ pcode_list[15] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[6]+"</td><td>"+ pcode_list[16] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[7]+"</td><td>"+ pcode_list[17] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[8]+"</td><td>"+ pcode_list[18] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[9]+"</td><td>"+ pcode_list[19] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[10]+"</td><td>"+ pcode_list[20] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[11]+"</td><td>"+ pcode_list[21] +"</td></tr>"-->
					<!--+"<tr><td>"+ pcode_list[12]+"</td><td>"+ pcode_list[22] +"</td></tr>";-->
}


$(function(){
	var tbl = $('#resultTable');
	<!--
	$('#allselectBtn').click(function(){
		$(":checkbox", tbl).attr("checked", true);
		$('#resultTable tr').css("background-color", "#D3FFFE");

	});

	$('#alldeselectBtn').click(function(){
		$(":checkbox", tbl).attr("checked", false);
		$('#resultTable tr').css("background-color", "white");

	});
	-->

	$('input[type="checkbox"]').change(function() {
		if(this.checked) {
			$(this).parent().parent().css("background-color", "#D3FFFE");

		}else{
			$(this).parent().parent().css("background-color", "white");

		}
	});

	$('#saveBtn').click(function(){
	    if (confirm('저장하시겠습니까?')) {
			var html = ""
			for (var i = 1; i < $('#resultTable tr').length; i++) {

				var chk = $('#resultTable tr').eq(i).children().find('input[type="checkbox"]').is(':checked');
				if (chk == true) {
					$('#resultTable tr').eq(i).css("background-color", "#D3FFFE");
					var checked_discode = $('#resultTable tr').eq(i).children().eq(1).text();
					var checked_disname = $('#resultTable tr').eq(i).children().eq(2).text();

					//alert(checked_discode + " " + checked_disname);
					html += "<input type = 'hidden' name = 'checked_discode' class='cheked_discode' value='"+checked_discode +"'>"
					html += "<input type = 'hidden' name = 'checked_disname' class='checked_disname' value='"+checked_disname +"'>"

				}else{
					$('#resultTable tr').eq(i).css("background-color", "white");
				}
			}

			alert("저장되었습니다.")

			var flag = $(':radio[name="flag_info"]:checked').val();
			html += "<input type='hidden' id = 'inputPreCode' name = 'inputPreCode' value='{{search_term}}'>"
			html += "<input type='hidden' id = 'inputPreCodeName' name = 'inputPreCodeName' value=''>"
			html += "<input type='hidden' id = 'flag' name = 'flag' value="+flag+">"

			$('#hiddenform').append(html);
			$('#hiddenform').submit();
		} else {
			// Do nothing!
		}
	});
});

function HighlightRow(obj){

	//var table = document.getElementById("resultTable");
	//var tr = table.getElementsByTagName("tr");
	<!--for(var i=0; i<tr.length; i++){-->
		<!--tr[i].style.background = "white";-->
	<!--}-->

	if(obj.style.backgroundColor == "") { // if white
	    obj.style.backgroundColor = "#d3fffe"
	}
	else { // otherwise
	    obj.style.backgroundColor = ""
	}
}

</script>

<!--<div id = "afterResultView1" style = "">-->
	<!--<button class="btn btn-default"id = "allselectBtn">전체선택</button>-->
	<!--<button class="btn btn-default" id = "alldeselectBtn">전체해제</button>-->
<!--</div>-->
<!--<div style="overflow-x:auto;">-->
<div>
	<table id = "resultTable" class = "vType_line mgb20 scrolltbody2" style="width:100%">
		<!-- khan: alignment 가 안맞아 thead, th 삭제 -->
		<tbody>
		<tr>
			<th>사용</th>
			<th>상병코드</th>
			<th>상병명</th>
			<th>정확도</th>
		</tr>
			{% for NX_disease in NX_disease_list %}
				{% if NX_disease.0.1 != "Unknown" %} <!-- if unknown, pass -->
					{% if NX_disease.1 == 1 %}
						<!--<tr style="background-color:#d3fffe" onclick = "HighlightRow(this)">-->
						<tr style="background-color:#d3fffe">
							<td><input type="checkbox" id="checked" name = "_selected_" checked></td>
					{% else %}
						<!--<tr onclick = "HighlightRow(this)">-->
						<tr>
							<td><input type="checkbox" id="checked" name = "_selected_"></td>
					{% endif %}
							<td id = "disease0">{{ NX_disease.0.0 }}</td>
							<td id = "disease1">{{ NX_disease.0.1 }}</td>
							<td id = "disease2">{{ NX_disease.0.2 }}</td>
						</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
<div id = "afterResultView2" style = "">
	<h6>Notice(상단 체크박스에서 여러 개 선택 시 동일하게 적용됩니다)</h6>

	<div id="hiddendiv">
		<form id = "hiddenform" action = "." method="post">
			{% csrf_token %}
				<textarea style="width:100%" rows="3" cols="50" id="noticeArea" name = "noticeArea">{{ notice.notice_description }}</textarea><br>

			{% if notice.display_condition == 0 %}
				<input type="radio" name="flag_info" value="option1" checked="checked">체크된 진단명만 진료화면에 노출함<br>
				<input type="radio" name="flag_info" value="option2">모든 진단명을 노출함(체크된 진단명은 리스트 최상단에 노출)<br><br>
			{% else %}
				<input type="radio" name="flag_info" value="option1" >체크된 진단명만 진료화면에 노출함<br>
				<input type="radio" name="flag_info" value="option2" checked="checked">모든 진단명을 노출함(체크된 진단명은 리스트 최상단에 노출)<br><br>
			{% endif %}
				<button id = "reset" class="button_box" style = "float:left">Reset</button>
				<input type = "button" class="button_box" style = "float:right" id="saveBtn"  value="Save">
			<br><br>
		</form>
		
		<!--<h6>Notice(상단 체크박스에서 여러 개 선택 시 동일하게 적용됩니다)</h6>
		<div id="hiddendiv">
			<form id = "hiddenform" action = "." method="post">
				<textarea style="width:100%" rows="3" cols="50" id="noticeArea" name = "noticeArea">{{ notice.notice_description }}</textarea>
				<br>
				<button id = "reset" style = "float:left">Reset</button>

			</form>

		</div>-->
	</div>

<!--<div style = "width:50%;float:left" >-->
	<!--<table class="table table-striped scroll" id = "prescriptionResult" style="width:100%;">-->
		<!--<thead>-->
			<!--<tr class= "table-responsive-th">-->
			<!--<th >Prescription</th>-->
			<!--<th >Prescription Name</th>-->
		<!--</tr>-->
		<!--</thead>-->
		<!--<tbody id = "prescriptionView">-->


		<!--</tbody>-->
	<!--</table>-->
<!--</div>-->


</div>
{% endblock %}
