/* common */
.txt_wave {display:inline-block;width:25px;color:#666;text-align:center;vertical-align:middle;}
.request {display:inline-block;width:7px;height:5px;margin:-3px 0 0 5px;text-align:left;text-indent:-10000em;vertical-align:middle;background:url('/images/front/ico_request.png') no-repeat 0 0;}
.txt_byte {font-size:12px;color:#666;text-align:right;line-height:1.5em;letter-spacing:0;}
.txt_dash {display:inline-block;width:30px;font-size:16px;color:#a7a7a7;text-align:center;}
.txt_join {display:block;font-size:12px;line-height:1em;}
.notify_red {display:inline-block;height:33px;font-size:12px;color:#ff3000;line-height:33px;}
.info_upper {height:30px;}
.info_upper:after {display:block;clear:both;content:'';}
.info_upper .condition {float:left;}
.info_upper .condition .title {float:left;height:33px;margin-right:10px;font-size:14px;color:#333;line-height:33px;}
.info_upper .upper_right {float:right;}
.box_phone_num:after {display:block;clear:both;content:'';}
.box_phone_num dt {float:left;width:125px;height:26px;padding-top:4px;}
.box_phone_num dd {float:left;width:255px;}
.box_terms {padding:18px 20px;font-size:14px;line-height:24px;border:1px solid #dcdcdc;}
.terms_agree {margin-bottom:30px;}
.terms_agree input[type='checkbox'] {width:12px;height:12px;margin:10px 8px 0 0;vertical-align:middle;}
.terms_agree label {display:inline-block;margin-top:10px;font-size:12px;line-height:1em;vertical-align:middle;}
span.arrow_down{display:inline-block;width:7px;height:7px;background: url(/images/front/ico_arrow_down.gif) no-repeat;}

/* list */
.hType th {height:40px;font-weight:700;font-size:12px;color:#fff;text-align:center;background-color:#0090c8;}
.hType td {height:30px;padding:5px 0;font-size:12px;text-align:center;border-bottom:1px solid #dadada;}
.hType td.colorRed > *{color:#ff3000;}
.hType td.textL {padding-left:80px;}
.hType td.faq_cont {padding:40px;font-size:14px;text-align:left;}
.hType td.faq_cont a {color:#0090c8;text-decoration:underline;}
.hType tr:hover{background-color: #eef7f9;}
.hType tr:active{background-color: #c6e0e6;}
.hType .bold_dgray {font-weight:700;color:#333;}
.hType_line {border-top:2px solid #494949;}
.hType_line th, .hType_line td {height:30px;font-size:11px;color:#333;text-align:center;}
.hType_line th {border-bottom:1px solid #dadada;background-color:#f7f7f7;padding:5px 10px;}
.hType_line td {border-bottom:1px solid #dadada;padding:5px 10px;}
.field_editor {padding:10px 20px;}
.field_editor .box_editor {border:1px solid #ddd;background-color:#fff;}

/* search */
.sType {border-top:2px solid #0090c8;}
.sType th {height:50px;padding-left:30px;font-weight:700;font-size:14px;color:#333;text-align:left;border-bottom:1px solid #c9d7dc;background-color:#eef7f9;}
.sType td {height:38px;padding:9px 20px 8px;border-bottom:1px solid #c9d7dc;}

/**/
.vType_list dt {height:30px;padding:0 30px;font-size:12px;line-height:30px;border:1px solid #ececec;background-color:#f7f7f7;}
.vType_list dd {padding:10px 30px;font-size:12px;}
.vType_list dd label {font-size:12px;}
.vType_line {border-top:2px solid #0090c8;border-bottom:1px solid #c9d7dc;}
.vType_line th, .hType_line td {font-size:14px;color:#333;}
.vType_line th {height:50px;padding-left:20px;text-align:left;border-top:1px solid #c9d7dc;background-color:#eef7f9;}
.vType_line th.bd_left {border-left:1px solid #c9d7dc;}
.vType_line td {padding:5px 20px;border-top:1px solid #c9d7dc;}
.vType_line td.view_content {padding:30px 38px;}
.vType_line td a {color:#0090c8;text-decoration:underline;}
.vType_line tr:first-child th, .vType_line tr:first-child td {border-top:0 none;}
.vType_line.type2{border-top:1px solid #c9d7dc;border-bottom:1px solid #c9d7dc;}
.vType_line.type2 th{background-color:#eef7f9;border-color:#c9d7dc;}
.vType_line.type2 td{border-color:#c9d7dc;padding:20px;}

/* product table */
.thType{border-top:2px solid #0090c8;border-bottom:2px solid #0090c8;}
.thType td{padding:20px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;}
.thType td:last-child{border-right:0;}
.thType tr:last-child td{border-bottom:0;}
.thType td img{width: 100%;}
.thType td .pd-cate{font-size:12px;margin-top:15px;}
.thType td .pd-name{font-weight:700;}
.thType td .pd-price{font-size:12px;margin-top:10px;margin-bottom:10px;color:#0090c8;font-weight:700;}
.thType td a[class^="btn"]{display:inline-block;}

/* result */
.box_result {margin:50px 0 20px;padding:143px 0 48px;color:#333;line-height:30px;text-align:center;border:1px solid #dadada;border-top:2px solid #494949;}
.box_result.false {background:url('/images/front/bg_false.png') no-repeat 50% 50px;}
.box_result.true {background:url('/images/front/bg_true.png') no-repeat 50% 50px;}
.box_result .txt01 {display:block;font-size:16px;}
.box_result .txt02 {display:block;font-size:14px;}
.box_result .txt03 {display:block;font-size:12px;}

/* page */
.page {height:28px;margin:0 auto;text-align:center;}
.page:after {display:block;clear:both;content:'';}
.page a {display:inline-block;min-width:20px;height:26px;margin:0 -1px;padding:0 5px;line-height:26px;border:1px solid #dddddd;background-color:#fff;vertical-align:middle;}
.page a.active {background-color:#f4f4f4;}
.page .btn_left {float:left;}
.page .btn_left button {margin-right:5px;}
.page .btn_right {float:right;}
.page .btn_right button {margin-left:5px;}

/* button */
button.dgray {background-color:#325461 !important;}
button.blue {border:1px solid #0075a2 !important;background-color:#0090c8 !important;}
.btn_wrap:after {display:block;clear:both;content:'';}
.btn_wrap .floatL button {margin-right:5px;}
.btn_wrap .floatR button {margin-left:5px;}
.btn_line_gray {width:70px;height:33px;padding:8px 0;font-weight:600;font-size:14px;color:#666;text-align:center;line-height:1em;border:1px solid #dcdcdc;background-color:#f3f3f3;}
.btn_line_gray.small{width:50px;height:25px;font-size:12px;letter-spacing:-0.05em;padding:0;}
.btn_line_blue{width:50px;height:25px;font-weight:600;line-height:1em;font-size:12px;color:#3ba0cf;border:1px solid #b3d2dc;background-color:#e7f6fb;letter-spacing:-0.05em;}
.btn_line_blue.disabled{color:#ccc;border-color:#dcdcdc;background-color:#f3f3f3;}
.btn_delete_file {width:33px;height:33px;text-align:left;text-indent:-1000em;border:1px solid #dadada;background:url('/images/front/btn_ico_delete.png') #f7f7f7 no-repeat 50% 50%;}
.btn_ico_cancel {width:140px;height:45px;font-weight:500;font-size:16px;color:#fff;line-height:43px;border:1px solid #3e464d;background-color:#525e68;}
.btn_ico_cancel span {display:inline-block;height:100%;padding-left:25px;background:url('../images/btn_ico_cancel.png') no-repeat 0 50%;}
.btn_ico_reset {width:140px;height:45px;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:43px;border:1px solid #0075a2;background-color:#0090c8;}
.btn_ico_reset span {display:inline-block;height:100%;padding-left:32px;background:url('/images/front/ico_reset.png') no-repeat 0 50%;}
.btn_ico_regist {width:140px;height:45px;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:43px;border:1px solid #0075a2;background-color:#0090c8;}
.btn_ico_regist span {display:inline-block;height:100%;padding-left:20px;background:url('/images/front/ico_write.png') no-repeat 0 50%;}
.btn_ico_regist.small {width:100px;height:33px;font-weight:500;font-size:14px;color:#fff;text-align:center;line-height:33px;border:1px solid #0075a2;background-color:#0090c8;}
.btn_ico_list {width:140px;height:45px;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:43px;border:1px solid #3e464d;background-color:#525e68;}
.btn_ico_list span {display:inline-block;height:100%;padding-left:28px;background:url('/images/front/ico_list.png') no-repeat 0 50%;}
.btn_ico_before {width:140px;height:45px;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:43px;border:1px solid #0075a2;background-color:#0090c8;}
.btn_ico_before span {display:inline-block;height:100%;padding-left:20px;background:url('/images/front/ico_before.png') no-repeat 0 50%;}
.btn_ico_next {width:140px;height:45px;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:43px;border:1px solid #0075a2;background-color:#0090c8;}
.btn_ico_next span {display:inline-block;height:100%;padding-right:20px;background:url('/images/front/ico_next.png') no-repeat 100% 50%;}
.btn_ico_save {width:140px;height:45px;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:43px;border:1px solid #0075a2;background-color:#0090c8;}
.btn_ico_save span {display:inline-block;height:100%;padding-left:28px;background:url('/images/front/ico_confirm.png') no-repeat 0 50%;}
.btn_ico_plue {width:100px;height:33px;font-weight:500;font-size:14px;color:#fff;text-align:center;line-height:33px;border:1px solid #0075a2;background-color:#0090c8;}
.btn_ico_plue span {display:inline-block;height:100%;padding-left:18px;background:url('/images/front/ico_plus_white.png') no-repeat 0 50%;}
.btn_ico_print {width:80px;height:33px;padding:8px 0;font-weight:600;font-size:14px;color:#666;text-align:center;line-height:1em;border:1px solid #dadada;background-color:#f7f7f7;}
.btn_ico_print span {display:inline-block;height:100%;padding-left:20px;background:url('/images/front/ico_print.png') no-repeat 0 50%;}
.btn_ico_search {width:150px;height:45px;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:43px;border:1px solid #0075a2;background-color:#0090c8;}
.btn_ico_search span {display:inline-block;height:100%;padding-left:25px;background:url('/images/front/ico_search.png') no-repeat 0 50%;}
.btn_ico_search.small {width:80px;height:33px;font-size:14px;line-height:30px;}
.btn_ico_search.dblue {background-color:#325461;border-color:#1c3944;}
.btn_ico_search.small span{padding-left:22px;}

.btn_calendar {width:23px;height:20px;text-align:left;text-indent:-1000em;background:url('/images/front/ico_calendar.png') no-repeat 0 0;}
.btn_ico_file {min-width:80px;height:30px;font-weight:500;font-size:12px;color:#666;line-height:28px;border:1px solid #dadada;background-color:#f7f7f7;}
.btn_ico_file span {display:inline-block;height:100%;padding-left:13px;background:url('/images/front/ico_file.png') no-repeat 0 50%;}
.btn_ico_delete {min-width:80px;height:30px;font-weight:500;font-size:12px;color:#666;line-height:28px;border:1px solid #dadada;background-color:#f7f7f7;}
.btn_ico_delete span {display:inline-block;height:100%;padding-left:13px;background:url('/images/front/ico_delete.png') no-repeat 0 50%;}
.btn_ico_down {min-width:80px;height:30px;font-weight:500;font-size:12px;color:#666;line-height:28px;border:1px solid #dadada;background-color:#f7f7f7;}
.btn_ico_down span {display:inline-block;height:100%;padding-left:16px;background:url('/images/front/ico_download.png') no-repeat 0 50%;}
.btn_ico_stop {min-width:105px;height:30px;font-weight:500;font-size:12px;color:#fff;line-height:28px;border:1px solid #67757b;background-color:#325461;}
.btn_ico_stop span {display:inline-block;height:100%;padding-left:20px;background:url('/images/front/ico_stop.png') no-repeat 0 50%;}
.btn_ico_restart {min-width:105px;height:30px;font-weight:500;font-size:12px;color:#fff;line-height:28px;border:1px solid #67757b;background-color:#325461;}
.btn_ico_restart span {display:inline-block;height:100%;padding-left:20px;background:url('/images/front/ico_restart.png') no-repeat 0 50%;}
.btn_first {display:inline-block;width:28px;height:100%;margin:0 -1px;text-align:left;text-indent:-10000em;border:1px solid #dddddd;background-color:#fff;vertical-align:middle;background:url('/images/front/arrow_first.png') no-repeat 50% 50%;}
.btn_before {display:inline-block;width:26px;height:100%;margin:0 -1px;text-align:left;text-indent:-10000em;border:1px solid #dddddd;background-color:#fff;vertical-align:middle;background:url('/images/front/arrow_before.png') no-repeat 50% 50%;}
.btn_next {display:inline-block;width:26px;height:100%;margin:0 -1px;text-align:left;text-indent:-10000em;border:1px solid #dddddd;background-color:#fff;vertical-align:middle;background:url('/images/front/arrow_next.png') no-repeat 50% 50%;}
.btn_last {display:inline-block;width:28px;height:100%;margin:0 -1px;text-align:left;text-indent:-10000em;border:1px solid #dddddd;background-color:#fff;vertical-align:middle;background:url('/images/front/arrow_last.png') no-repeat 50% 50%;}
.btn_plus {width:32px;height:30px;text-align:left;text-indent:-10000em;border:1px solid #dadada;background:url('/images/front/ico_plus.png') #f7f7f7 no-repeat 50% 50%;}
.btn_minus {width:32px;height:30px;text-align:left;text-indent:-10000em;border:1px solid #dadada;background:url('/images/front/ico_minus.png') #f7f7f7 no-repeat 50% 50%;}
.btn_download_blue {font-size: 0;min-width: 70px;height: 24px;text-align: center;line-height: 1em;}
.btn_download_blue span {display: inline-block;height: 100%;padding-left: 13px;background: url(../images/ico_download_blue2.jpg) no-repeat 0 50%;}


.btn_ico_file_down {min-width:80px;height:30px;font-weight:500;font-size:12px;color:#666;line-height:28px;border:1px solid #dadada;background-color:#f7f7f7;}
.btn_ico_file_down span {display:inline-block;height:100%;padding-left:16px;background:url('/images/front/ico_file_download.png') no-repeat 0 50%;}