{% extends "base.html" %}

{% block title %}Data{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'matchings:datashow' %}">Overview</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Reports</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{% url 'matchings:match_disease' %}">Search<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'matchings:models_test' %}">Compare Models</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Analytics</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Export</a>
					</li>
				</ul>

			</nav>

			<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
				<h1>Search Disease by Prescriptions</h1>
				<br/>
			
				<h2>Prescription list</h2>
				<div id="prescription_form" class="table-responsive" "form-group">
					{% csrf_token %}

					<label>Prescription:</label>
					<input type="text" id="search_prescription" name="search_prescription" />
					<br/>
					<table class="table table-striped scroll">
						<thead>
							<tr>
								<th>차트번호</th>
								<th>처방코드</th>
								<th>처방설명</th>
							</tr>
						</thead>
						{% if prescription_list %}
						<tbody id="search-prescription-results">	
						{% for prescription in prescription_list %}
							<tr>
								<td>{{ prescription.id }}</td>
								<td>{{ prescription.ORDERCODE }}</td>
								<td>ORDERNAME</td>
							</tr>
						{% endfor %}
						</tbody>
						{% endif %}
					</table>
					
					<div id="list_form" class="form-group">

						{% csrf_token %}
						<label>Prescription List:</label>
						<input type="text" id="clickResultView">
						<button id="list_form_button">Submit</button>
					</div>
				</div>

				<br/><br/>
				<h2>Disease list</h2>
				<div class="table-responsive">
					<table class="table table-striped scroll">
						<thead>
							<tr>
								<th>Name</th>
								<th>Count</th>
								<th>Submit</th>
							</tr>
						</thead>

						<tbody id="search-disease-results">	

						</tbody>

					</table>
				</div>

			</main>
		</div>
	</div>
{% endblock %}
