{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Relation network{% endblock %}

{% block content %}
	<style>
		.links line {
			stroke: #999;
		    stroke-opacity: 0.6;
		}

		.nodes circle {
			stroke: #fff;
			stroke-width: 1.5px;
		}

		.bar {
			  fill: steelblue;
		}

		.bar:hover {
			  fill: brown;
		}

		.axis--x path {
			  display: none;
		}
	</style>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
				<ul class="nav nav-pills flex-column">
					<!--<li class="nav-item">-->
						<!--<a class="nav-link" href="{% url 'matchings:datashow' %}">Overview</a>-->
					<!--</li>-->
					<!--<li class="nav-item">-->
						<!--<a class="nav-link" href="#">Reports</a>-->
					<!--</li>-->
					<!--<li class="nav-item">-->
						<!--<a class="nav-link" href="{% url 'matchings:models_test' %}">Compare Models</a>-->
					<!--</li>
					-->
					<!--
					<li class="nav-item">
						<a class="nav-link" href="">HOME</a>
					</li>
					-->
					<li class="nav-item">
						<a class="nav-link" href="{% url 'matchings:match_disease' %}">인정상병관리</a>
					</li>
					<!--
					<li class="nav-item">
						<a class="nav-link" href="{% url 'matchings:userstatics' %}">사용 통계</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'matchings:usermanagement' %}">계정 관리</a>
					</li>
					-->	

					<li class="nav-item">
						<a class="nav-link active" href="{% url 'matchings:statics' %}">통계분석<span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'matchings:userservice' %}" target="_blank">고객 서비스</a>
					</li>
					 <li class="nav-item">
						<a class="nav-link" href="{% url 'matchings:updatemodel' %}" target="_blank">모델 업데이트</a>
					</li>
				</ul>

			</nav>

			<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
				<svg id="bar1" width="960", height="250"></svg>

				<form action="." method="post">
					{% csrf_token %}
					상병검색: <input type="text" name="search_dxcode">
					<input type="submit" class="button_box" value="Search" />
				</form>

				<svg id="network" width="960", height="560"></svg>
				<svg id="bar2" width="960", height="250"></svg>
			</main>
			{{tsvdata}}
		</div>
	
	
		<script src="https://d3js.org/d3.v4.min.js"></script>
	
		<script>
		
			var netsvg = d3.select("#network"),
				netwidth = +netsvg.attr("width"),
				netheight = +netsvg.attr("height");

			var color = d3.scaleOrdinal(d3.schemeCatagory20);

			var simulation = d3.forceSimulation()
								.force("link", d3.forceLink().id(function(d){ return d.id; }))
								.force("charge", d3.forceManyBody())
								.force("center", d3.forceCenter(netwidth/2, netheight/2));

			d3.json("{% static 'NXmodel_data/whole_graph_data.json' %}", function(error, graph){
				if(error) throw error;

				var link = netsvg.append("g")
								.attr("class", "links")
								.selectAll("line")
								.data(graph.links)
								.enter().append("line")
									.attr("stroke-width", function(d){ return 1; });


				var node = netsvg.append("g")
								.attr("class", "nodes")
								.selectAll("circle")
								.data(graph.nodes)
								.enter().append("circle")
								.attr("r", 5)
								.attr("fill", function(d){return '#1f77b4'})
								.call(d3.drag()
										.on("start", dragstarted)
										.on("drag", dragged)
										.on("end", dragended)
									);
				node.append("title").text(function(d){ return d.id; });
				simulation
					.nodes(graph.nodes)
					.on("tick", ticked);

				simulation.force("link")
					.links(graph.links);

				function ticked() {
					link
						.attr("x1", function(d) { return d.source.x; })
						.attr("y1", function(d) { return d.source.y; })
						.attr("x2", function(d) { return d.target.x; })
						.attr("y2", function(d) { return d.target.y; });
	
					node
						.attr("cx", function(d) { return d.x; })
						.attr("cy", function(d) { return d.y; });
				}
			});

			function dragstarted(d) {
				if (!d3.event.active) simulation.alphaTarget(0.3).restart();
				d.fx = d.x;
				d.fy = d.y;
			}

			function dragged(d) {
				d.fx = d3.event.x;
				d.fy = d3.event.y;
			}

			function dragended(d) {
				if (!d3.event.active) simulation.alphaTarget(0);
				d.fx = null;
				d.fy = null;
			}

		</script>

		<script>

			var bar1svg = d3.select("#bar1"),
				margin = {top: 20, right: 20, bottom: 30, left: 40},
				barwidth = +bar1svg.attr("width") - margin.left - margin.right,
				barheight = +bar1svg.attr("height") - margin.top - margin.bottom;

			var x = d3.scaleBand().rangeRound([0, barwidth]).padding(0.1),
				y = d3.scaleLinear().rangeRound([barheight, 0]);

			var g = bar1svg.append("g")
							.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			var data = {{ tsvdata|safe }};
			
			x.domain(data.map(function(d) { return d.letter; }));
			y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

			g.append("g")
				.attr("class", "axis axis--x")
				.attr("transform", "translate(0," + barheight + ")")
				.call(d3.axisBottom(x));

			g.append("g")
				.attr("class", "axis axis--y")
				.call(d3.axisLeft(y).ticks(10, "%"))
				.append("text")
				.attr("transform", "rotate(-90)")
				.attr("y", 6)
				.attr("dy", "0.71em")
				.attr("text-anchor", "end")
				.text("Frequency");

			g.selectAll(".bar")
				.data(data)
				.enter().append("rect")
				.attr("class", "bar")
				.attr("x", function(d) { return x(d.letter); })
				.attr("y", function(d) { return y(d.frequency); })
				.attr("width", x.bandwidth())
				.attr("height", function(d) { return barheight - y(d.frequency); });
					

				<!--			d3.tsv("{% static 'data.tsv' %}", -->
<!--					function(d) {-->
<!--						d.frequency = +d.frequency;-->
<!--						return d;-->
<!--					}, -->
<!--					function(error, data) {-->
<!--						if (error) throw error;-->
<!---->
<!--						x.domain(data.map(function(d) { return d.letter; }));-->
<!--						y.domain([0, d3.max(data, function(d) { return d.frequency; })]);-->
<!---->
<!--						g.append("g")-->
<!--							.attr("class", "axis axis--x")-->
<!--							.attr("transform", "translate(0," + barheight + ")")-->
<!--							.call(d3.axisBottom(x));-->
<!---->
<!--						g.append("g")-->
<!--							.attr("class", "axis axis--y")-->
<!--							.call(d3.axisLeft(y).ticks(10, "%"))-->
<!--							.append("text")-->
<!--							.attr("transform", "rotate(-90)")-->
<!--							.attr("y", 6)-->
<!--							.attr("dy", "0.71em")-->
<!--							.attr("text-anchor", "end")-->
<!--							.text("Frequency");-->
<!---->
<!--						g.selectAll(".bar")-->
<!--							.data(data)-->
<!--							.enter().append("rect")-->
<!--							.attr("class", "bar")-->
<!--							.attr("x", function(d) { return x(d.letter); })-->
<!--							.attr("y", function(d) { return y(d.frequency); })-->
<!--							.attr("width", x.bandwidth())-->
<!--							.attr("height", function(d) { return barheight - y(d.frequency); });-->
<!--					}-->
<!--				);-->

		</script>



	</div>
{% endblock %}
