{% extends "base.html" %}

{% block title %}Smart Support Service {% endblock %}
{% load static %}
{% block content %}
<br><br>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	{% if user.is_active %}
	<p><a href={% url 'matchings:datashow' %}>Welcome!!</a></p>
	{% else %}
	<div class="container" style = "margin-top:50px;">
		<div class="outer">
			<div class="inner">
				<div class="contents">
					<p id="cards_title" class="row">Please login first</p>
					<div class="row cards">
						<div class="col-sm-5 card">
							<a href="{% url 'login' %}">Login</a>
						</div>
						<div class="col-sm-5 card">
							<a href="{% url 'register'%}">Register</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}


